@import 'variables';
@import 'mixins';
@import 'inherit';
$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  background: $primary-background;
  @extend %full-page;
  font-family: $default-body-font-family;
}


// ******* USER VIEW ******* //
.user-view {
  @extend %full-page;
  display: grid;
  grid-template-rows: 1fr 2fr 7fr;
}

// ******* Main Header ******* //
.main-header {
  @extend %flex-header;
  @extend %border;
  @extend %page-padding;
  height: 100%;
  border-bottom-style: none;
  grid-row: 1 / 2;
  .travel-tracker-title {
    @extend %header-h1;
  }
  .welcome-banner {
    @extend %header-h1;
    text-align: center;
  }
  button {
    @extend %buttons;
    width: $header-side-item-width;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
// ******* View Header ******* //
.view-header {
  @extend %flex-header;
  @extend %border;
  @extend %page-padding;
  height:100%;
  grid-row: 2 / 3;
  .year-travel-cost-widget {
    @extend %centered-flex;
    width: $header-side-item-width;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    border-style: inset;
    border-color: black;
    .year-travel-cost-title {
      @extend %top-bottom-small-margin;
      font-size: 30px;
      text-align: center;
    }
    .year-travel-cost-amount {
      @extend %top-bottom-small-margin;
      font-size: 25px;
    }
  }
  .page-view-title {
    @extend %header-h1;
  }
  .plan-new-trip-button {
    @extend %buttons;
    width: $header-side-item-width;
  }
  .view-trip-history-button {
    @extend %buttons;
    width: $header-side-item-width;
  }
}


// ******* Trip History View ******* //
.trip-history-view {
  display: flex;
  flex-direction: row;
  grid-row: 3 / 4;
  .trip-by-time-button-navigator {
    width: 200px;
    height: 90%;
    padding: 15px;
    .nav-button {
      @extend %buttons;
      width: 200px;
      margin-top: 50px;
    }
    // .view-past-trips-button {
    //
    // }
    // .view-present-trips-button {
    //
    // }
    // .view-future-trips-button {
    //
    // }
    // .view-pending-trips-button {
    //
    // }
  }
  .trip-card-grid {
    width: 100%;
    max-height: 700px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    .trip-info-card {
      border-radius: 7px;
      height: 270px;
      margin: 20px;
      padding: 15px;
      width: 250px;
      p {
        font-size: 20px;
        font-weight: bold;
      }
      label {
        font-size: 20px;
        font-weight: bolder;
      }
    }
  }
}


// ******* Plan New Trip View ******* //
.plan-new-trip-view {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-row: 3 / 4;
  grid-template-columns: 1fr 1fr;
  width: 98%;
  max-height: 750px;
  .plan-new-trip-form {
    grid-column: 1 / 2;
    @extend %centered-flex;
    margin-top: 75px;
    label {
      font-size: 30px;
      @extend %top-bottom-small-margin;
    }
    input {
      @extend %form-inputs;
    }
    select {
      @extend %form-inputs;
    }
    button {
      @extend %buttons;
    }
  }
  .trip-cost-estimation-widget {
    grid-column: 3 / 4;
    margin-top: 75px;
    @extend %centered-flex;
    // align-self: center;

    label {
      @extend %top-bottom-small-margin;
      font-size: 35px;
      font-weight: bolder;
    }
    p {
      @extend %top-bottom-small-margin;
      font-size: 25px;
    }
  }
}

// ******* Sign In Page View ******* //
.sign-in-page-view{
  @extend %centered-flex;
  height: 100%;
  h1 {
    width: 300px;
    font-size: 50px;
    text-align: center;
  }
  .sign-in-form {
    @extend %centered-flex;
    @extend %border;
    justify-content: center;
    padding: 25px;
    label {
      font-size: 30px;
      @extend %top-bottom-small-margin;
    }
    input {
      @extend %form-inputs;
      @extend %top-bottom-small-margin;
    }
    button {
      @extend %buttons;
      @extend %top-bottom-small-margin;
    }
  }
}

.hidden {
  display: none;
}
